<nav class="mt-2">
	<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
		<li class="nav-item">
			<a href="index.php" class="nav-link" id="home">
				<i class="fas fa-home nav-icon"></i>
				<p>Inicio</p>
			</a>
		</li>
		<li class="nav-item">
			<a href="table.php" class="nav-link" id="apontamentos">
				<i class="fa fa-table nav-icon"></i>
				<p>Apontamentos</p>
			</a>
		</li>
		<li class="nav-item">
			<a href="customer.php" class="nav-link" id="customer">
				<i class="fa fa-user nav-icon"></i>
				<p>Clientes</p>
			</a>
		</li>
	</ul>
</nav>