<!DOCTYPE html>
<html lang="en">
	{{header}}
	<body class="hold-transition sidebar-mini layout-fixed">
		<div class="wrapper">

			<!-- Preloader -->
			<div class="preloader flex-column justify-content-center align-items-center">
				<img class="animation__shake" src="dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
			</div>

			<!-- Navbar -->
			<nav class="main-header navbar navbar-expand navbar-white navbar-light">
				<!-- Left navbar links -->
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
					</li>
					<li class="nav-item d-none d-sm-inline-block">
						<a href="index3.html" class="nav-link">Home</a>
					</li>
					<li class="nav-item d-none d-sm-inline-block">
						<a href="#" class="nav-link">Contact</a>
					</li>
				</ul>
			</nav>
			<!-- /.navbar -->

			<!-- Main Sidebar Container -->
			<aside class="main-sidebar sidebar-dark-primary elevation-4">
				<!-- Brand Logo -->
				<a href="index3.html" class="brand-link">
					<img src="dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
					<span class="brand-text font-weight-light">GPT-SCC</span>
				</a>

				<!-- Sidebar -->
				<div class="sidebar">
					{{menu}}
				</div>
				<!-- /.sidebar -->
			</aside>

			<!-- Content Wrapper. Contains page content -->
			<div class="content-wrapper">
				<section class="content" id="bpost">
					<div class="container-fluid">
						<br>
						<form method="post">
							<div class="row">
								<div class="col-3">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text">
											<i class="far fa-calendar-alt"></i>
											</span>
										</div>
										<input type="text" class="form-control float-right" id="reservation" name="date">
									</div>
								</div>
								<div class="col-3">
									<select class="form-control" name="agente">
										<option value="">Todos os agentes</option>
										{{options}}
									</select>
								</div>
								<div class="col-3">
									<select class="form-control" name="cliente">
										<option value="">Todos os clientes</option>
										{{options_clientes}}
									</select>
								</div>
								<div class="col">
									<button type="submit" class="btn btn-info">Filtrar</button>
									<button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#modal-default">Upload</button>
								</div>
							</div>
						</form>
						<div class="modal fade" id="modal-default" aria-hidden="true" style="display: none;">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h4 class="modal-title">Upload de nova tabela</h4>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">×</span>
										</button>
									</div>
									<!-- <form method="post" enctype="multipart/form-data"> -->
										<div class="modal-body">
											<div class="input-group">
												<div class="custom-file">
													<input type="file" class="custom-file-input" id="file" name="file" accept=".csv">
													<label class="custom-file-label" for="exampleInputFile">Escolha o arquivo</label>
												</div>
											</div>
										</div>
										<div class="modal-footer justify-content-between">
											<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
											<button type="submit" onclick="post_table()" data-dismiss="modal" class="btn btn-primary">Upload</button>
										</div>
									<!-- </form> -->
								</div>
							<!-- /.modal-content -->
							</div>
							<!-- /.modal-dialog -->
						</div>
					</div>
				</section>
				<section class="content" id="apost">
					<div class="container-fluid">
						<br>
						<div class="row">
							<div class="col-2">
								<div class="custom-control custom-switch">
									<input type="checkbox" onload="filter_ignored()" onchange="filter_ignored()" class="custom-control-input" id="customSwitch1">
									<label class="custom-control-label" for="customSwitch1">Ignorados</label>
								</div>
							</div>
							<div class="col-2">
								<div class="custom-control custom-switch">
									<input type="checkbox" onload="filter_apontados()" onchange="filter_apontados()" class="custom-control-input" id="customSwitch2">
									<label class="custom-control-label" for="customSwitch2">Apontados</label>
								</div>
							</div>
							<div class="col-2">
								<div class="custom-control custom-switch">
									<input type="checkbox" onload="filter_scc()" onchange="filter_scc()" class="custom-control-input" id="customSwitch3">
									<label class="custom-control-label" for="customSwitch3">SCC</label>
								</div>
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-12">
								<div class="card">
									<div class="card-header">
										<h3 class="card-title" id="contagem">Apontamentos</h3>

										<div class="card-tools">
										</div>
									</div>
								<!-- /.card-header -->
									<div class="card-body table-responsive p-0">
										<table class="table table-hover text-nowrap" id="table">
											<thead>
												<tr>
													<th>Cliente</th>
													<th>Ticket</th>
													<th>Assunto</th>
													<th>Nº Ação</th>
													<th>Ação</th>
													<th style='display: none'>Categoria</th>
													<th>Agente</th>
													<th style='display: none'>Equipe</th>
													<th>Data</th>
													<th>Horas</th>
													<th style='display: none'>Apontado</th>
													<th>Opções</th>
													<th style='display: none'>Classificação</th>
													<th style='display: none'>Nome</th>
												</tr>
											</thead>
											<tbody>
												{{table}}
											</tbody>
										</table>
									</div>
								<!-- /.card-body -->
								</div>
							<!-- /.card -->
							</div>
						</div>
					</div>
					<div class="modal fade" id="modal-cliente" aria-hidden="true" style="display: none;">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h4 class="modal-title" id="cliente"></h4>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">×</span>
									</button>
								</div>
								<div class="modal-body">
									<div class="row">
										<div class="col-3">
											<label for="inputPassword6" class="col-form-label">Novo cliente</label>
										</div>
										<div class="col">
											<select id="select" name="name" class="form-control">
												<option value="">Selecione um ...</option>
												{{options_clientes}}
											</select>
										</div>
									</div>
								</div>
								<div class="modal-footer justify-content-between">
									<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
									<button type="submit" class="btn btn-primary" data-dismiss="modal" onclick="change_costumer()">Alterar</button>
								</div>
							</div>
						<!-- /.modal-content -->
						</div>
						<!-- /.modal-dialog -->
					</div>
				</section> 
			</div>
			<!-- /.content-wrapper -->
			<footer class="main-footer">
				<strong>SOLVS</strong>
				All rights reserved.
				<div class="float-right d-none d-sm-inline-block">
					<b>Version</b> 0.0.1
				</div>
			</footer>
		</div>
		<!-- ./wrapper -->
		{{scripts}}
		<script type="text/javascript">
			var bol = ($.cookie('ignored') === 'true');
			var bol2 = ($.cookie('apontados') === 'true');
			var bol3 = ($.cookie('scc') === 'true');
			var tbody = document.getElementById("table").children[1].children;
			var cookie = [];
			var id_apontamento = '';

			$('#modal-cliente').on('hidden.bs.modal', function () {
				document.getElementById('select').value = "";
			});

			function copytoclipboard(selector)
			{
				var x = "";

				var children = document.getElementById(selector).children;

				for (var i = 1; i < children.length-4; i++) {
					x += children[i].innerHTML.replace(/&nbsp;/gi," ") + "\t";
					setTimeout(
						async () => await navigator.clipboard.writeText(x).then(function () {
							// toastr.info("Copiado para area de transferencia");
						}, function () {
							// console.log("Copy to clipboard unsuccessfully.");
						})
					);
				}
				toastr.info("Copiado para area de transferencia");
			}

			function modal(id, cliente)
			{
				id_apontamento = id;
				var header = document.getElementById('cliente');

				header.innerHTML = 'Alteração do cliente: <span style="color: red">'+cliente+'</span>';
			}

			function change_costumer()
			{
				var select = document.getElementById('select')
				
				var params_change = 'alter='+id_apontamento+'&costumer='+select.value;
				post(params_change, "Alterado o cliente para "+select.value);

				var x = document.getElementById(id_apontamento);
				x.children[0].children[0].innerHTML = select.value;
			}

			function filter_ignored()
			{
				if (bol) {
					for (var i = 0; i < tbody.length; i++) {
						if(tbody[i].style.backgroundColor == 'rgb(168, 101, 201)'){
							tbody[i].style.display = "none";
						}
					}

					$.removeCookie('ignored');
					$.cookie('ignored', false, { expires: 14, path: '/gpt' });
					bol = false;
				}else{
					for (var i = 0; i < tbody.length; i++) {
						if(tbody[i].style.backgroundColor == 'rgb(168, 101, 201)'){
							tbody[i].style.display = "";
						}
					}

					$.removeCookie('ignored');
					$.cookie('ignored', true, { expires: 14, path: '/gpt' });
					bol = true;
				}
				count_rows();
			}

			function filter_apontados()
			{
				if (bol2) {
					for (var i = 0; i < tbody.length; i++) {
						if(tbody[i].children[10].innerHTML == 'Apontado'){
							tbody[i].style.display = "none";
						}
					}

					$.removeCookie('apontados');
					$.cookie('apontados', false, { expires: 14, path: '/gpt' });
					bol2 = false;
				}else{
					for (var i = 0; i < tbody.length; i++) {
						if(tbody[i].children[10].innerHTML == 'Apontado'){
							tbody[i].style.display = "";
						}
					}

					$.removeCookie('apontados');
					$.cookie('apontados', true, { expires: 14, path: '/gpt' });
					bol2 = true;
				}
				count_rows();
			}

			function filter_scc()
			{
				if (bol3) {
					for (var i = 0; i < tbody.length; i++) {
						if(tbody[i].children[12].innerHTML == 'SCC' && tbody[i].children[13].innerHTML != ''){
							tbody[i].style.display = "none";
						}
					}

					$.removeCookie('scc');
					$.cookie('scc', false, { expires: 14, path: '/gpt' });
					bol3 = false;
				}else{
					for (var i = 0; i < tbody.length; i++) {
						if(tbody[i].children[12].innerHTML != '' && tbody[i].children[13].innerHTML != ''){
							tbody[i].style.display = "";
						}
					}

					$.removeCookie('scc');
					$.cookie('scc', true, { expires: 14, path: '/gpt' });
					bol3 = true;
				}
				count_rows();
			}

			function apontar(id)
			{
				var element = document.getElementById(id);
				element.style.backgroundColor = "lightgreen";
				element.children[10].innerHTML = "Apontado";
				element.children[11].children[1].remove();
				let btn = create_button(["btn","btn-sm","btn-warning"],"Limpar","limpar("+id+", 'apontado');");
				element.children[11].insertBefore(btn, element.children[11].children[1]);
				element.children[11].children[2].disabled = true;
				if (!bol2) {
					element.style.display = "none";
				}
				count_rows();
				var params_apontar = 'apontar=1&id='+id;
				post(params_apontar, "Realizado o apontamento");
			}

			function ignorar(id)
			{
				var element = document.getElementById(id);
				element.style.backgroundColor = "#A865C9";
				element.children[11].children[2].remove();
				let btn = create_button(["btn","btn-sm","btn-warning"],"Limpar","limpar("+id+");");
				element.children[11].appendChild(btn);
				element.children[11].children[1].disabled = true;
				if (!bol) {
					element.style.display = "none";
				}
				count_rows();

				var params_ignorar = 'ignorar=1&id='+id;
				post(params_ignorar, "Apontamento ignorado");
			}

			function limpar(id, type = "")
			{
				var element = document.getElementById(id);
				element.style.backgroundColor = "white";

				if (type == "apontado") {
					element.children[11].children[1].remove();
					element.children[10].innerHTML = "";
					let btn = create_button(["btn","btn-sm","btn-success"],"Apontar","apontar("+id+");");
					element.children[11].insertBefore(btn, element.children[11].children[1]);
					element.children[11].children[2].disabled = false;
					if (!bol2) {
						element.style.display = "none";
					}
				}else{
					element.children[11].children[2].remove();
					let btn = create_button(["btn","btn-sm","btn-danger"],"Ignorar","ignorar("+id+");");
					element.children[11].appendChild(btn);
					element.children[11].children[1].disabled = false;

					if (!bol) {
						element.style.display = "none";
					}
				}

				count_rows();

				var params_limpar = 'limpar=1&id='+id;
				post(params_limpar,"Limpado o apontamento");
			}

			function count_rows()
			{
				var contagem = document.getElementById("contagem");
				var count = 0;
				for (var i = 0; i < tbody.length; i++) {
					if(tbody[i].style.display != 'none'){
						count++;
					}
				}
				contagem.innerHTML = count+" Apontamentos para lançar";
			}

			function post(params, msg)
			{
				var http = new XMLHttpRequest();
				var url = 'rest.php';
				http.open('POST', url, true);

				//Send the proper header information along with the request
				http.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');

				http.onreadystatechange = function() {//Call a function when the state changes.
					if(http.readyState == 4 && http.status == 200) {
						toastr.info(msg);
					}
				}
				http.send(params);
			}

			function post_table()
			{
				var file = document.getElementById("file");

				/* Create a FormData instance */
				var fd = new FormData();
				/* Add the file */ 
				fd.append("file", file.files[0]);

				var http = new XMLHttpRequest();
				var url = 'rest.php';
				http.open('post', url, true);

				http.setRequestHeader("X-File-Name", file.name);
				http.setRequestHeader("X-File-Size", file.size);

				toastr.info("Enviando");

				http.onreadystatechange = function() {//Call a function when the state changes.
					if(http.readyState == 4 && http.status == 200) {
						let registros = http.responseText;
						if(registros > 0){
							toastr.success("Adicionado "+registros+" registros");
							file.value = "";
							bsCustomFileInput.destroy();
							bsCustomFileInput.init();
						}else{
							toastr.warning("Sem novos registros");
							file.value = "";
							bsCustomFileInput.destroy();
							bsCustomFileInput.init();
						}
						console.log(http.responseText);
					}
				}
				http.send(fd);
			}

			function create_button(classList, inner, attribute)
			{
				let btn = document.createElement("button");

				classList.forEach(function (item, index) {
					btn.classList.add(item);
				});

				btn.innerHTML = inner;
				btn.setAttribute("onclick",attribute);
				return btn;
			}

			function check_cookies()
			{
				if (!bol) 
				{
					var cs1 = document.getElementById("customSwitch1");
					cs1.checked = true;
					bol = true;
					filter_ignored();
				}

				if (!bol2) 
				{
					var cs2 = document.getElementById("customSwitch2");
					cs2.checked = true;
					bol2 = true;
					filter_apontados();
				}

				if (!bol3) 
				{
					var cs3 = document.getElementById("customSwitch3");
					cs3.checked = true;
					bol3 = true;
					filter_scc();
				}
			}
			
			check_cookies();

			count_rows();
		</script>
		{{datepicker}}
	</body>
</html>
